<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup</title>
    <link rel="shortcut icon" type="image/png" href="../icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/errorMessage.css" />
    <link rel="stylesheet" href="/signup.css" />
    <% if (errorMessage) { %>
    <script defer src="/authentication/errorMessage.js"></script>
    <% } %>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a class="active" href="/signup">Signup</a>
      <a href="/contact-us">Contact Us</a>
    </div>
    <% if (errorMessage) { %>
    <div id="error-notification" class="error-notification">
      <span id="health-bar" class="health-bar"></span>
      <%= errorMessage %>
    </div>
    <% } %>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form action="/signup" method="POST">
      <h3>Sign up with HealthifyMe</h3>

      <label for="email">Email</label>
      <input
        type="text"
        placeholder="Email"
        name="email"
        id="email"
        value="<%= oldInput.email %>"
      />

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        value="<%= oldInput.password %>"
      />

      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirmPassword"
        id="confirmPassword"
        value="<%= oldInput.confirmPassword %>"
      />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
