<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Details</title>
    <link rel="shortcut icon" type="image/png" href="../icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/userDetails.css" />
  </head>
  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form action="/admin/user-details" method="POST">
      <h3>Personalize your Experience</h3>

      <label for="fullname">Full Name</label>
      <input
        type="text"
        placeholder="Full Name"
        name="fullname"
        id="fullname"
        value="<%= fullname %>"
      />

      <label for="gender">Gender</label>
      <input
        type="text"
        placeholder="Gender"
        name="gender"
        id="gender"
        value="<%= gender %>"
      />

      <label for="age">Age (YEARS)</label>
      <input
        type="number"
        placeholder="Age"
        name="age"
        id="age"
        value="<%= age %>"
      />

      <label for="height">Height (METRES)</label>
      <input
        type="number"
        step="0.01"
        placeholder="Height"
        name="height"
        id="height"
        value="<%= height %>"
      />

      <label for="weight">Weight (KGS)</label>
      <input
        type="number"
        placeholder="Weight"
        name="weight"
        id="weight"
        value="<%= weight %>"
      />

      <label for="goal">Goal (KMS)</label>
      <input
        type="number"
        placeholder="Goal"
        name="goal"
        id="goal"
        value="<%= goal %>"
      />

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
